h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

input,
select {
  height: 28px;
  border: 1px solid turquoise;
  border-radius: 14px;
  width: 200px;
  margin: 10px 0;
  outline: none;
  padding-left: 8px;

  color: white;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.25);
}
input:hover,
input:focus {
  border: 1px solid teal;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 2px rgba(74, 190, 184, 0.2),
    0px 1px 2px rgba(74, 190, 190, 0.2), 0px 3px 1px rgba(74, 186, 190, 0.2);
}

button {
  height: 28px;
  background-color: turquoise;
  border: none;
  border-radius: 14px;
  color: white;
  text-transform: uppercase;

  margin: 10px 0;
  border: 1px solid turquoise;
  cursor: pointer;
  padding: 0 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  border: 1px solid turquoise;
  color: turquoise;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 2px rgba(74, 190, 184, 0.2),
    0px 1px 2px rgba(74, 190, 190, 0.2), 0px 3px 1px rgba(74, 186, 190, 0.2);
}

body {
  font-size: 16px;
  background-color: rgba(35, 73, 73, 0.6);
  /* background-image: url(./images/3d-truby-tsveta-otrazhenie-abstraktsiia-min.jpg); */
  background-image: url(./images/bg.jpg);
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}

.appHeading {
  padding-left: 10px;
  color: white;
  font-size: 28px;
  letter-spacing: 0.03em;
}

.contactsNavLink {
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.contactsNavLink:hover,
.contactsNavLink:focus {
  color: turquoise;
}
/* ========================================================= */

::selection {
  background: turquoise;
  color: black;
}
::-moz-selection {
  background: turquoise;
  color: black;
}
::-webkit-selection {
  background: turquoise;
  color: black;
}

/* ========================================================= */
::-webkit-input-placeholder {
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.08em;
}
::-moz-placeholder {
  color: white;
}
:-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
/* ========================================================== */
